.button {
    background-color: $button-bg;
    border: none;
    color: $button-color;
    cursor: pointer;
    font-size: $base-font-size;
    line-height: 1.2;
    margin-bottom: $space;
    padding: $input-spacing;
    text-transform: uppercase;
}

.button--title {
    background: none;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    text-decoration: underline;
}

.button--link {
    display: inline-block;
    text-decoration: none;
}

.button--pill {
    background-color: transparent;
    border: 1px solid $button-pill-border-color;
    color: $button-pill-color;
    margin: 0 ($space / 2) 0 0;
    padding: $button-pill-padding;
}

.button--greyed {
    outline: none;
    background-color: $button-greyed-bg;
    border: 1px solid $button-greyed-border-color;
    color: $button-greyed-color;
}

.button--greyed:active {
    background-color: darken($button-greyed-bg, 2%);
    border: 1px solid $button-greyed-border-color;
    color: $button-greyed-color;
}

.button--delete {
    outline: none;
}

.button--confirm-delete,
.button--delete:hover {
    background-color: $red;
    border: 1px solid $dark-red;
    color: white;
}

.button--delete:active {
    background-color: $dark-red;
    border: 1px solid $dark-red;
    color: white;
}

.button__side-by-side {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    button:first-of-type {
        margin-left: $double-space;
        margin-right: $space;
    }

    button:nth-of-type(2) {
        margin-left: $space;
        margin-right: $double-space;
    }

    button {
        flex: 1;
    }
}
