.button {
    background-color: $button-bg;
    border: none;
    color: $button-color;
    cursor: pointer;
    font-size: $base-font-size;
    line-height: 1.2;
    margin-bottom: $space;
    padding: $input-spacing;
    text-transform: uppercase;
}

.button--title {
    background: none;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    text-decoration: underline;
}

.button--link {
    display: inline-block;
    text-decoration: none;
}

.button--pill {
    background-color: transparent;
    border: 1px solid $button-pill-border-color;
    color: $button-pill-color;
    margin: 0 ($space / 2) 0 0;
    padding: $button-pill-padding;
}

.button--greyed {
    background: $button-greyed-bg;
    border: 1px solid $button-greyed-border-color;
    color: $button-greyed-color;
}
