.page-content {
    display: flex;
    margin: 0 auto;
    height: $page-content-height;
    max-width: $site-max-width;

    @include desktop() {
        padding: $double-space $space;
    }
}

.page-content__sidebar {
    display: none;
    width: $page-content-sidebar-width;
    padding-right: $double-space;

    @include desktop() {
        display: flex;
    }
}

.page-content__main {
    display: flex;
    width: 100%;

    @include desktop() {
        width: $page-content-main-width;
    }
}
