/* COLORS */
$brand-primary: #397ab1;
$light-grey: #f9f9f9;
$grey: #dddddd;
$dark-grey: #777777;
$red: #f86569;
$dark-red: #f74d4d;

/* BODY */
$body-bg-color: #f3f3f3;
$body-default-color: #333333;
$body-default-font: Helvetica, Arial, sans-serif;

/* SPACING */
$space: 1.4rem;
$double-space: calc(#{$space} * 2);
$site-max-width: 100rem;

/* FONT SIZES */
$base-font-size: 1.6rem;
$large-font-size: 2rem;

/* FORM INPUTS */
$input-border: $grey;
$input-spacing: 1rem;

/* HEADER */
$header-bg: $brand-primary;
$header-color: white;
$header-height: 6rem;

/* BUTTON */
$button-bg: $brand-primary;
$button-color: white;

$button-pill-border-color: $brand-primary;
$button-pill-color: $brand-primary;
$button-pill-padding: 0.4rem 0.9rem;

$button-greyed-bg: $light-grey;
$button-greyed-border-color: $grey;
$button-greyed-color: $dark-grey;

/* ITEM */
$item-select-border-width: 4px;

/* BOXED VIEW */
$boxed-view-overlay-bg: $grey;
$boxed-view-bg: white;
$boxed-view-border-color: $grey;

/* PAGE CONTENT */
$page-content-sidebar-width: 30rem;
$page-content-main-width: calc(
    #{$site-max-width} - #{$page-content-sidebar-width}
);
$page-content-height: calc(100vh - #{$header-height});
