/* main SCSS file */
// Variables
$item-green: #e4ede0;
$item-green-alt: darken($item-green, 15%);

$item-blue: #dfe7ed;
$item-blue-alt: darken($item-blue, 15%);

$item-red: #eddfdf;
$item-red-alt: darken($item-red, 15%);

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: #f2f2f2;
    color: #555555;
    font-family: Helvetica, sans-serif;
    font-size: 1.6rem;
}

input, button, select {
    font-size: 1.3rem;
}

h1 {
    font-size: 2.4rem;
    font-weight: 300;
}

@import "components/title-bar";
@import "components/wrapper";
@import "components/item";
@import "components/button";
@import "components/form";
@import "components/player";