.button {
    background: white;
    border: 1px solid #555555;
    color: #555555;
    cursor: pointer;
    font-weight: 600;
    line-height: 1;
    margin-left: 1.3rem;
    outline: none;
    padding: 1.3rem;
    -webkit-transition: background .2s ease, transform .2s ease;
    -moz-transition: background .2s ease, transform .2s ease;
    -o-transition: background .2s ease, transform .2s ease;
    transition: background .2s ease, transform .2s ease;
    
    &:hover, &:focus {
        background: #e8e8e8;
    }

    &:active {
        background: #cccccc;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.button--round {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
}