.item {
    background: white;
    border: 1px solid #e8e8e8;
    margin: 1.3rem;
    padding: 1.3rem;
}

.item--position-1 {
    background: $item-green;
    border-color: $item-green-alt;
}

.item--position-2 {
    background: $item-blue;
    border-color: $item-blue-alt;
}

.item--position-3 {
    background: $item-red;
    border-color: $item-red-alt;
}

.item__message {
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 300;
    text-align: center;
}